*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.div {
    background-color: white;
    height: 600px;
    padding: 20px 0;
}
.text {
    text-align: center;
}
.div > div {
    background-color: white;
    margin-bottom: 20px;
}
.divAd {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.H1{
    font-size: 25px;
    justify-content: flex-start;
    
    
}


