.container{width:92%;margin:auto; margin-top:100px; margin-bottom: 200px;}

.head{font-size: 35px; font-weight: 500;margin-bottom: 20px;}

.Box{display: grid; grid-template-columns: 1.2fr 1fr; gap:20px; }

.listContainer{padding:30px; padding-top: 20px; border:1px solid rgb(210, 210, 210); border-radius: 10px; background-color: #f3f4f9;}

/* .ImageBox{background-color: whitesmoke; padding:} */
.ImageBox img{border:20px solid #f3f4f9;}
.list{padding-left:20px; }
.list li{margin-top: 20px;}

.supplement{margin-bottom: 30px; margin-top: 20px;}


@media screen and (min-width:100px) and (max-width:800px){
    .head{font-size: 25px;}
    .Box{grid-template-columns: 1fr;}
    .listContainer{padding:10px;}
    .supplement{margin-top: 30px; margin-bottom: 10px;}
}