.container{margin-left: 4%; margin-top: 50px; margin-right: 4%;}
.right{margin-left:6px; margin-right: 14px;color:rgb(96, 96, 96);font-size: 10px;}
.span{font-size: 15px;color:rgb(150, 150, 150);}
.home{color:#00b5b7;}
.current{font-weight: 500;color:black;}
