.container{height:100%;}
.head{color:#1fbdc6;font-size: 15px;}

.name{font-size: 22px; font-weight: 500; margin-top: 10px;}

.bygnc{display: flex; align-items: center; gap:5px;}
.bygnc span {font-size: 18px;}
.gnc{color:#1fbdc6;font-weight:500;}
.by {color:#7e8395;}
.rightIcon{color:#1fbdc6; font-size: 10px;}

/* .staring span{margin-left:10px;} */
.staringContainer{display: flex; gap:10px; margin-top: 5px; margin-bottom: 10px; flex-wrap: wrap;}
.staringContainer img{cursor: pointer;width:34px;}
.staringImage{margin-left: 4%; }
.staring{display: flex; align-items: center; gap:10px;}
.rating{font-weight: 500;font-size: 17px;}



.tooltiptext {
    visibility: hidden;
    /* width: 100px; */
    background-color: #e6e6e6;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    padding-left: 5px;
    padding-right:5px;
    white-space: nowrap;
    bottom:110%;
    left: -40%;
    font-size:13px;
    opacity: 0;
    /* display: none; */
    transition: opacity 0.3s;
  }
  /* .staringImage:hover {background-color: purple; padding:20px;} */
 .staringImage:active .tooltiptext{
    visibility: visible;
    opacity: 1;
    display: block;
  } 

.mrp{font-size: 17px; color:rgb(93, 93, 93);margin-top: 7px; margin-bottom: 2px;}
.mr{text-decoration: line-through;}

.priceContainer{display: flex; gap:20px;align-items: center; }
.priceContainer span:nth-child(1){font-size: 17px; font-weight: 500;}
.priceContainer span:nth-child(2){color:#049a6a}
.priceContainer span:nth-child(3){font-size: 12px;}
.coin{margin-left: 10px;color:#f0b818;}
.taxes{font-size: 12px; color:#049265;margin-bottom: 15px;}

.date{display: flex; gap:5px; font-size: 14px;margin-bottom: 12px;}
.date span:nth-child(1){color:rgb(100, 100, 100);}
.date span:nth-child(3),.date span:nth-child(2){font-weight: 500;}

.premiumBox{display: flex; gap:10px; align-items: center;padding-top: 8px; padding-bottom: 8px; background-color:#f5f5f5; width:260px; padding-left: 10px; padding-right: 10px;}
.premiumBox span{font-size: 14px; border-radius: 3px;}

.chevronRight{margin-left: 5px; font-size: 10px;}

.btnContainer{display:flex; gap:20px;margin-top: 30px; flex-wrap: wrap;}

.plusminus{display: flex; border: 1px solid rgb(206, 206, 206); border-radius: 5px;}
.plusminus>div{width:30px; display: flex; align-items: center; justify-content: center;}
.plusminus button{height:35px; background-color: rgb(244, 244, 244); width:35px; font-size: 20px;}

.cartbtn{padding-left:10px; padding-right: 10px;height:35px; font-size: 17px; font-weight: 500; width:144px; cursor: pointer; display: flex; gap:10px; align-items: center; background-color: #fff9f4; color:#ff8914;border:1px solid #ff8914; border-radius: 5px;}

.cartbtn:hover{
    background-color: #ff8914;
    color:white;
}

.cartbtn:active{
    background:#fff9f4;
    color:#ff8914;
}

.quickBuy{
    padding-left:10px; padding-right: 10px;height:35px; font-size: 17px; font-weight: 500; cursor: pointer; display: flex; gap:10px; align-items: center; background-color: #ff8914; color:white;border:1px solid #ff8914; border-radius: 5px;
    width:99px;
}

.quickBuy:hover{
    background-color: #fff9f4;
    color:#ff8914;
    border-color: #ff8914;
}

.quickBuy:active{
    background:#ff8914;
    color:white;
}



.flavourBox{padding-left:10px; padding-right: 10px;height:35px;  font-weight: 500; cursor: pointer; display: flex; gap:20px; align-items: center;  font-size: 20px; margin-top:35px;}



.flavour{padding-left:20px; padding-right: 10px; padding-right: 20px; font-size: 17px; font-weight: 500; cursor: pointer;   background-color: #fff9f4; color:#ff8914;border:1px solid #ff8914; display:inline-block; padding-top: 10px; padding-bottom: 10px; border-radius: 5px; margin-top: 10px;}


.offerContainer{margin-top: 30px;}
.offer{font-size: 19px; font-weight: 500;}
.coupon{font-size: 14px; color:rgb(103, 103, 103);}

.tc{display: flex; margin-top: 15px; gap:10px; width:80%; padding: 10px 10px; border: 1px solid rgb(198, 198, 198); border-radius: 7px 5px; display: flex; align-items: center; gap:10px;  font-size: 15px;}
.percentIcon{background-color: #ff8914;color:white; padding:5px 7px; font-size: 14px; border-radius: 50%;}
.tc span:nth-child(3){color:#40aec1;}